{% load static %}
<!DOCTYPE html>
<html>
    
<head>
	<title>Login</title>
	<link rel="stylesheet" href="{% static "style.css" %}">
</head>
<body class="background_register">
	<div >
		<div >
			<div class="user_card_register">
				<div >
					<h3 class="register_word">REGISTER ACCOUNT</h3>
				</div>
				<div>
					<form method="POST" action="">
						{% csrf_token %}
						<div class="register_text_box">
							<p placeholder='Username'>{{form.username}}</p>
						</div>
						<div class="register_text_box">
							{{form.email}}
						</div>
						<div class="register_text_box">
							{{form.password1}}
						</div>
						<div class="register_text_box">
							{{form.password2}}
						</div>



				   		<div class="register_button">
				 			<input type="submit" value="Register Account">
				   		</div>

					</form>
				</div>

				{{form.errors}}
				
				<div >
					<div class="message_form">
						Already have an account? <a href="{% url 'login' %}" >Login</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
						
	
		var form_fields = document.getElementsByTagName('input')
		form_fields[1].placeholder='Username';
		form_fields[2].placeholder='Email';
		form_fields[3].placeholder='Enter password';
		form_fields[4].placeholder='Re-enter Password';


		for (var field in form_fields){	
			form_fields[field].className += ' form-control'
		}
	</script>
</body>
</html>